/* OBTENIDO DE : https://unindented.org/articles/trigonometry-in-sass/ */
/* OBTENIDO DE: https://unindented.org/articles/trigonometry-in-sass/*/
.hidden {
  display: none; }

div#reloj {
  -webkit-border-radius: 500px;
  background-color: transparent;
  border: solid black 2px;
  height: 500px;
  margin: 50px;
  width: 500px;
  -moz-border-radius: 500px;
  background-image: url("https://i.ytimg.com/vi/2sj2iQyBTQs/maxresdefault.jpg");
  background-size: 100% 100%;
  border-radius: 500px; }

h6 {
  color: white;
  font-size: 16px;
  position: absolute; }

.hora-1 {
  left: 418.74996px;
  top: 94.31894px; }

.hora-2 {
  left: 505.68102px;
  top: 181.24998px; }

.hora-3 {
  left: 537.5px;
  top: 300px; }

.hora-4 {
  left: 505.68102px;
  top: 418.75002px; }

.hora-5 {
  left: 418.74996px;
  top: 505.68106px; }

.hora-6 {
  left: 299.99993px;
  top: 537.5px; }

.hora-7 {
  left: 181.24991px;
  top: 505.68098px; }

.hora-8 {
  left: 94.3189px;
  top: 418.74989px; }

.hora-9 {
  left: 62.5px;
  top: 299.99985px; }

.hora-10 {
  left: 94.31905px;
  top: 181.24985px; }

.hora-11 {
  left: 181.25018px;
  top: 94.31887px; }

.hora-12 {
  left: 300.00036px;
  top: 62.50003px; }

#horera, #minutera, #segundera {
  bottom: 312.5px;
  left: 300px;
  position: absolute; }

#minutera {
  left: 301.5px; }

#segundera {
  left: 303.5px; }

div#horera {
  border: solid black 6px;
  height: 50px;
  width: 0.05px; }

div#minutera {
  border: solid blue 4px;
  height: 100px;
  width: 0.005px; }

div#segundera {
  border: solid red 2px;
  height: 150px;
  width: 0.0005px; }

.ms-0 {
  transform: rotate(0deg);
  transform-origin: bottom; }

.ms-1 {
  transform: rotate(6deg);
  transform-origin: bottom; }

.ms-2 {
  transform: rotate(12deg);
  transform-origin: bottom; }

.ms-3 {
  transform: rotate(18deg);
  transform-origin: bottom; }

.ms-4 {
  transform: rotate(24deg);
  transform-origin: bottom; }

.ms-5 {
  transform: rotate(30deg);
  transform-origin: bottom; }

.ms-6 {
  transform: rotate(36deg);
  transform-origin: bottom; }

.ms-7 {
  transform: rotate(42deg);
  transform-origin: bottom; }

.ms-8 {
  transform: rotate(48deg);
  transform-origin: bottom; }

.ms-9 {
  transform: rotate(54deg);
  transform-origin: bottom; }

.ms-10 {
  transform: rotate(60deg);
  transform-origin: bottom; }

.ms-11 {
  transform: rotate(66deg);
  transform-origin: bottom; }

.ms-12 {
  transform: rotate(72deg);
  transform-origin: bottom; }

.ms-13 {
  transform: rotate(78deg);
  transform-origin: bottom; }

.ms-14 {
  transform: rotate(84deg);
  transform-origin: bottom; }

.ms-15 {
  transform: rotate(90deg);
  transform-origin: bottom; }

.ms-16 {
  transform: rotate(96deg);
  transform-origin: bottom; }

.ms-17 {
  transform: rotate(102deg);
  transform-origin: bottom; }

.ms-18 {
  transform: rotate(108deg);
  transform-origin: bottom; }

.ms-19 {
  transform: rotate(114deg);
  transform-origin: bottom; }

.ms-20 {
  transform: rotate(120deg);
  transform-origin: bottom; }

.ms-21 {
  transform: rotate(126deg);
  transform-origin: bottom; }

.ms-22 {
  transform: rotate(132deg);
  transform-origin: bottom; }

.ms-23 {
  transform: rotate(138deg);
  transform-origin: bottom; }

.ms-24 {
  transform: rotate(144deg);
  transform-origin: bottom; }

.ms-25 {
  transform: rotate(150deg);
  transform-origin: bottom; }

.ms-26 {
  transform: rotate(156deg);
  transform-origin: bottom; }

.ms-27 {
  transform: rotate(162deg);
  transform-origin: bottom; }

.ms-28 {
  transform: rotate(168deg);
  transform-origin: bottom; }

.ms-29 {
  transform: rotate(174deg);
  transform-origin: bottom; }

.ms-30 {
  transform: rotate(180deg);
  transform-origin: bottom; }

.ms-31 {
  transform: rotate(186deg);
  transform-origin: bottom; }

.ms-32 {
  transform: rotate(192deg);
  transform-origin: bottom; }

.ms-33 {
  transform: rotate(198deg);
  transform-origin: bottom; }

.ms-34 {
  transform: rotate(204deg);
  transform-origin: bottom; }

.ms-35 {
  transform: rotate(210deg);
  transform-origin: bottom; }

.ms-36 {
  transform: rotate(216deg);
  transform-origin: bottom; }

.ms-37 {
  transform: rotate(222deg);
  transform-origin: bottom; }

.ms-38 {
  transform: rotate(228deg);
  transform-origin: bottom; }

.ms-39 {
  transform: rotate(234deg);
  transform-origin: bottom; }

.ms-40 {
  transform: rotate(240deg);
  transform-origin: bottom; }

.ms-41 {
  transform: rotate(246deg);
  transform-origin: bottom; }

.ms-42 {
  transform: rotate(252deg);
  transform-origin: bottom; }

.ms-43 {
  transform: rotate(258deg);
  transform-origin: bottom; }

.ms-44 {
  transform: rotate(264deg);
  transform-origin: bottom; }

.ms-45 {
  transform: rotate(270deg);
  transform-origin: bottom; }

.ms-46 {
  transform: rotate(276deg);
  transform-origin: bottom; }

.ms-47 {
  transform: rotate(282deg);
  transform-origin: bottom; }

.ms-48 {
  transform: rotate(288deg);
  transform-origin: bottom; }

.ms-49 {
  transform: rotate(294deg);
  transform-origin: bottom; }

.ms-50 {
  transform: rotate(300deg);
  transform-origin: bottom; }

.ms-51 {
  transform: rotate(306deg);
  transform-origin: bottom; }

.ms-52 {
  transform: rotate(312deg);
  transform-origin: bottom; }

.ms-53 {
  transform: rotate(318deg);
  transform-origin: bottom; }

.ms-54 {
  transform: rotate(324deg);
  transform-origin: bottom; }

.ms-55 {
  transform: rotate(330deg);
  transform-origin: bottom; }

.ms-56 {
  transform: rotate(336deg);
  transform-origin: bottom; }

.ms-57 {
  transform: rotate(342deg);
  transform-origin: bottom; }

.ms-58 {
  transform: rotate(348deg);
  transform-origin: bottom; }

.ms-59 {
  transform: rotate(354deg);
  transform-origin: bottom; }

#digital div {
  border: solid black 2px;
  display: inline;
  font-size: 50px; }

#digital div:not(:last-child):after {
  content: ":"; }
